.search-document-field .sdf-results {
    border: 1px solid var(--gray-200);
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    margin-top: 4px;
    background: var(--white);
}
.search-document-field .sdf-result-item:hover {
    background: var(--gray-050);
}
.search-document-field .sdf-result-item:last-child {
    border-bottom: none !important;
}
.search-document-field .sdf-selected {
    padding: 8px 10px;
    background: var(--gray-050);
    border-radius: 4px;
    border: 1px solid var(--gray-200);
}
