{% extends "search-index/_layouts/plugin" %}

{% set title = "actions.search"|t('search-index') %}
{% set selectedSubnavItem = 'search' %}

{% block content %}
    {% do view.registerAssetBundle("cogapp\\searchindex\\web\\assets\\searchpage\\SearchPageAsset") %}

    {% set embeddingFields = craft.searchIndex.getEmbeddingFieldsMap() %}

    <div id="search-page">
        {# Mode toggle #}
        <div class="btngroup mb-l" id="search-mode-toggle">
            <button type="button" class="btn active" data-mode="single">{{ "labels.single"|t('search-index') }}</button>
            <button type="button" class="btn" data-mode="compare">{{ "labels.compare"|t('search-index') }}</button>
        </div>

        {# Single mode #}
        <div id="single-mode">
            {{ searchIndexSprig('cp.search-single', {
                indexOptions: indexOptions,
                embeddingFields: embeddingFields,
            }) }}
        </div>

        {# Compare mode #}
        <div id="compare-mode" class="hidden">
            {{ searchIndexSprig('cp.search-compare', {
                indexOptions: indexOptions,
            }) }}
        </div>
    </div>
{% endblock %}
