services:
  typesense:
    container_name: ddev-${DDEV_SITENAME}-typesense
    image: typesense/typesense:30.1
    restart: "no"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    command: ["--data-dir", "/data", "--api-key=ddev_typesense_key", "--enable-cors"]
    ports:
      - "8108"
    volumes:
      - typesense-data:/data
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/8108' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  typesense-data:
